<div>
	<h3>{{projectName}} - {{jobName}} Build History:</h3>
	
	<table id="buildHistoryTable" datatable="ng" class="table table-striped table-bordered">
		<thead>
		<tr>
			<th width="30%">Build #</th>
			<th width="30%">Date/Time</th>
			<th width="20%">Status</th>			
		    <th width="20%"></th>
		</tr>
		</thead>
		<tbody>
		
		<tr ng-repeat = "build in builds">
			<td>{{build.buildNumber}}</td>
			<td>{{build.buildDate}}</td>
			<td>
				{{build.status}}
			</td>
			<td>	
			<i class="fa fa-server  fa-2x"  ng-click="getBuildDetail(build.buildNumber);"></i>
				&nbsp;
			</td>
		</tr>
		</tbody>
	</table>
</div>
