<div ng-hide = "editMode">
	<h3>Jenkins Server List:</h3>&nbsp;<input type="button" class="btn btn-info" value="Add Node" id="btnAddNode" ng-click="addJenkinsNode();">
	
	<table id="employeeTable" datatable="ng" class="table table-striped table-bordered">
		<thead>
		<tr>
			<th>Project Name</th>
			<th>Description</th>
			<th>Running</th>			
		    <th></th>
		</tr>
		</thead>
		<tbody>
		
		<tr ng-repeat = "node in nodes">
			<td>{{node.projectName}}</td>
			<td>{{node.description}}</td>
			<td>{{node.running}}</td>
			<td>				
				<input type="button" value="View" class="btn btn-info" ng-show="node.running" ng-click="gotoJenkinsHome(node.id, node.projectName)">
			</td>
		</tr>
		</tbody>
	</table>
</div>

<div ng-show="editMode" class="container content">
	<section id="contact" class="bg-primary">
		<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="section-heading text-center">Jenkins Server Node</h2>
                   <p>&nbsp;</p>
                    <p>Please enter Jenkins Server node information</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                	<form method="post" id="jenkinsNodeForm">
                		<div class="form-group row">
                			<label for="projectName" class="fa fa-star col-sm-2 col-form-label">&nbsp;Project Name</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" ng-model="node.projectName" id="projectName" placeholder="Project Name">
							</div>
                		</div>
                		<div class="form-group row">
                			<label for="description" class="fa fa-star col-sm-2 col-form-label">&nbsp;Description</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" ng-model="node.description" id="description" placeholder="Description">
							</div>
                		</div>
                		<div class="form-group row">
                			<label for="serverUrl" class="fa fa-star col-sm-2 col-form-label">&nbsp;Server URL</label>
							<div class="col-sm-6">
								<input type="url" class="form-control" ng-model="node.serverUrl" id="serverUrl" placeholder="Server URL">
							</div>
                		</div>
                		<div class="form-group row">
                			<label for="username" class="fa fa-star col-sm-2 col-form-label">&nbsp;Username</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" ng-model="node.username" id="username" placeholder="Username">
							</div>
                		</div>
                		<div class="form-group row">
                			<label for="password" class="fa fa-star col-sm-2 col-form-label">&nbsp;Password</label>
							<div class="col-sm-6">
								<input type="password" class="form-control" ng-model="node.password" id="password" placeholder="Password">
							</div>
                		</div>
						<div class="form-group row text-center">
							<div class="offset-sm-2 col-sm-10">
								<input type="button" value="{{actionLabel}}"class="btn btn-primary" id="btnSubmit" ng-click="updateNode();">
								<input type="button" value="Cancel" class="btn btn-primary" ng-click="cancelUpdate();">
							</div>
						</div>
                	</form>
                </div>
            </div>
        </div>
    </section>
</div>




