	<h3>{{projectName}} Build Jobs:</h3>
	
	<table id="jobTable" datatable="ng" class="table table-striped table-bordered">
		<thead>
		<tr>
			<th width="30%">Job Name</th>
			<th width="30%">Description</th>
			<th width="20%">Status</th>			
		    <th width="20%"></th>
		</tr>
		</thead>
		<tbody>
		
		<tr ng-repeat = "job in jobs">
			<td>{{job.name}}</td>
			<td>{{job.description}}</td>
			<td>
				Last Build: #{{job.lastBuild.buildNumber}} <br/>
				{{job.lastBuild.buildDate}} <br/>
				{{job.lastBuild.status}}
			</td>
			<td>	
			<i class="fa fa-server  fa-2x"  ng-click="getBuildHistory(job.name);"></i>
				&nbsp;
				
			<i class="fa fa-server  fa-2x"  ng-click="startBuild(job.name, job.lastBuild.buildNumber);"></i>
				&nbsp;
		
			</td>
		</tr>
		</tbody>
	</table>